/* ******************************************************************************
 * _chartcardinfo.scss                                                          *
 * *************************************************************************/ /**
 *
 * @fileoverview Styles used by the ChartCardInfo component
 *
 * [More detail about the file's contents]
 *
 * Created on       July 11, 2019
 * @author          Michael Jay Lippert
 *
 * @copyright (c) 2019-present Riff Learning Inc.,
 *            MIT License (see https://opensource.org/licenses/MIT)
 *
 * ******************************************************************************/

.chart-info-div {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: change-color($color-brightPlum, $alpha: 0.9);
    z-index: 1;

    button {
        background: none;
        border: none;
    }
}
