/* ******************************************************************************
 * _gantt.scss                                                                  *
 * *************************************************************************/ /**
 *
 * @fileoverview Styles used by the D3 gantt chart
 *
 * [More detail about the file's contents]
 *
 * Created on       July 11, 2019
 * @author          Michael Jay Lippert
 *
 * @copyright (c) 2019-present Riff Learning Inc.,
 *            MIT License (see https://opensource.org/licenses/MIT)
 *
 * ******************************************************************************/

.axisGray line {
    stroke: $color-lightLava;
}

.axisGray path {
    stroke: $color-lightLava;
}

.axisGray text {
    fill: $color-lightAnchor2;
}
