<!DOCTYPE html>
<html lang="en_US">
  <head>
    <meta charset="utf-8">
    <meta content="IE=Edge" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <base href="/">
    <link rel="stylesheet" href="css/styles.css">
    <style data-styled-components="true"></style>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body tabindex="-1">
    <div id="root"></div>
    <script type='text/javascript'>
     window.lti_data = {{{lti_data}}};
     window.client_config = {{{client_config}}};
    </script>
  </body>
</html>
